name: HeartLink Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    steps:
    - uses: actions/checkout@v4
      
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
        
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.16.0'
        
    - run: flutter pub get
    - run: flutter build apk --release --no-tree-shake-icons